.hero-image{
    background: url("../../assets/pattern2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}
.hero-text{
    background: url("../../assets/pattern1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;

}